.contactsContainer {
  padding: 20px;
}
.contactsMenu {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.modalBtn {
  display: flex;
  font-size: 18px;
  padding: 5px 10px;
  border: 1px solid black;
  background-color: transparent;
  color: black;
  border-radius: 10px;
  text-decoration: none;
  transition: all 0.3s;
  outline: none;
}

.modalBtn:hover,
.modalBtn:focus {
  transform: scale(1.1);
}
